<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>APC Youth Wing</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link href="APC_Youth_logo_01.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <%= stylesheet_link_tag "css_dashboard/lib/owlcarousel/assets/owl.carousel.min.css" %>
    <%= stylesheet_link_tag "css_dashboard/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" %>

    <!-- Customized Bootstrap Stylesheet -->
    <%= stylesheet_link_tag "css_dashboard/bootstrap.min.css" %>

    <!-- Template Stylesheet -->
    <%= stylesheet_link_tag "css_dashboard/style.css" %>
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/home" class="navbar-brand mx-4 mb-3">
                    <%= image_tag("APC_Youth_logo_02.png", alt: "Logo", class: "w-100")  %>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <%= image_tag("circle-user-solid.svg", alt: "Logo", class: "w-100", style: "width: 40px; height: 40px;")  %>
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0"><%= current_user.name %></h6>
                        <%  if current_user.role == 'admin' %>
                        <span>Admin</span>
                        <% end %>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/dashboard" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/groups" class="nav-link active"><i class="fa fa-laptop me-2"></i>Details</a>
                    <a href="/documents" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Documents</a>
                    <a href="/members" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Members</a>
                    <a href="/review" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Review</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <%= image_tag("circle-user-solid.svg", alt: "Logo", class: "rounded-circle me-lg-2", style: "width: 40px; height: 40px;")  %>
                            <span class="d-none d-lg-inline-flex"><%= current_user.name%></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <% if user_signed_in? %>
                              <%= link_to "Sign out", destroy_user_session_path, class: 'dropdown-item', 'data-turbo-method': :delete %>
                            <% else %>
                              <a href="users/sign_in" class="dropdown-item">Sign in</a>
                            <% end %> 
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Relevant Information</h6>
                        <a href="/groups/<%=@group.id%>/edit">Update</a>
                    </div>
                    <div class="table-responsive">

                        <table class="table text-start align-middle table-bordered table-hover mb-0 table-striped table-hover">
                          <thead>
                            <tr class="text-white">
                              <th scope="col"><input class="form-check-input" type="checkbox"></th>
                              <th scope="col">Group Information</th>
                              <th scope="col">Entries:</th>
                            </tr>
                          </thead>
                          <% if current_user.group_size == "National" %>
                            <tbody>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Group Name</td>
                                <td><%= @group.name_of_support_group%></td> 
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Group Reach</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.group_reach %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Email Address</td>
                                <td><%= @user.email%></td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Year of Establishment</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.year_of_establishment %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Nature of Support Group</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.nature_of_support_group %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Mode of Funding</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.mode_of_funding %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Acive Region</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.active_region %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Strength of group(In figures)</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.number_of_members %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Head Office Address</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.head_office_address %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Zonal Office Address</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.zonal_office_address %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Focus of Support Group</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.focus_of_support_group %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Membership Status</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.membership_status %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                            </tbody>
                          <% elsif current_user.group_size == "Senitorial" %>
                            <tbody>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Group Name</td>
                                <td><%= @group.name_of_support_group %></td> 
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Group Reach</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.group_reach %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Email Address</td>
                                <td><%= @user.email%></td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Year of Establishment</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.year_of_establishment %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Nature of Support Group</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.nature_of_support_group %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Mode of Funding</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.mode_of_funding %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">State</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.state %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Strength of group(In figures)</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.number_of_members %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Head Office Address</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.head_office_address %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Senatorial District</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.senatorial_district %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Focus of Support Group</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.focus_of_support_group %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Membership Status</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.membership_status %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                            </tbody>
                          <% elsif current_user.group_size == "LGA" %>
                            <tbody>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Group Name</td>
                                <td><%= @group.name_of_support_group %></td> 
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Group Reach</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.group_reach %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Email Address</td>
                                <td><%= @user.email%></td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Year of Establishment</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.year_of_establishment %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Nature of Support Group</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.nature_of_support_group %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Mode of Funding</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.mode_of_funding %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">State</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.state %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Strength of group(In figures)</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.number_of_members %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Head Office Address</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.head_office_address %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Senatorial District</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.senatorial_district %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Focus of Support Group</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.focus_of_support_group %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Membership Status</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.membership_status %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">LGA</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.lga %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                            </tbody>
                          <% elsif current_user.group_size == "Regional" %>
                            <tbody>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Group Name</td>
                                <td><%= @group.name_of_support_group %></td> 
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Group Reach</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.group_reach %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Email Address</td>
                                <td><%= @user.email%></td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Year of Establishment</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.year_of_establishment %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Nature of Support Group</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.nature_of_support_group %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Mode of Funding</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.mode_of_funding %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Region Of Operation</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.region_of_operation %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Strength of group(In figures)</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.number_of_members %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Head Office Address</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.head_office_address %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Geo-Political Zone</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.geo_political_zone %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Focus of Support Group</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.focus_of_support_group %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Membership Status</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.membership_status %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Branch Office</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.branch_offices %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                            </tbody>
                          <% elsif current_user.group_size == "State" %>
                            <tbody>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Group Name</td>
                                <td><%= @group.name_of_support_group %></td> 
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Group Reach</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.group_reach %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Email Address</td>
                                <td><%= @user.email%></td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Year of Establishment</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.year_of_establishment %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Nature of Support Group</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.nature_of_support_group %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Mode of Funding</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.mode_of_funding %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                        
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Strength of group(In figures)</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.number_of_members %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Head Office Address</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.head_office_address %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Geo-Political Zone</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.geo_political_zone %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Focus of Support Group</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.focus_of_support_group %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Membership Status</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.membership_status %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td scope="row">Branch Office</td>
                                <td>
                                    <% if @group != nil%>
                                      <%= @group.branch_offices %>
                                    <% else %>
                                      ...
                                    <% end %>
                                </td>
                              </tr>
                            </tbody>
                          <% end %>
                          
                        </table>
                        
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->
            
            

            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            <p>Copyright © <strong>APC Youth Wing 2022</strong> All Rights Reserved. Designed by <a target="_blank" href="http://thermolinks.com/">Thermolinks</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <%= javascript_include_tag "lib/chart/chart.min.js" %>
    <%= javascript_include_tag "lib/easing/easing.min.js" %>
    <%= javascript_include_tag "lib/waypoints/waypoints.min.js" %>
    <%= javascript_include_tag "lib/owlcarousel/owl.carousel.min.js" %>
    <%= javascript_include_tag "lib/tempusdominus/js/moment.min.js" %>
    <%= javascript_include_tag "lib/tempusdominus/js/moment-timezone.min.js" %>
    <%= javascript_include_tag "lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js" %>
    <!-- Template Javascript -->
    <%= javascript_include_tag "js/main.js" %>
</body>

</html>
