<%= form_with model: @group_new, url: groups_path, method: :post, class: "h-100 border d-flex flex-column justify-content-between", local: true, scope: :groups do |f|  %>

      <div class="h-50 d-flex flex-column justify-content-around">
        <div class = "form-group">
          <%= f.label :name, for: "names" %><br>
          <%= f.text_field :name, class: "form-control", id: "names"%>
        </div>

        <div class="d-flex justify-content-evenly my-3">
          <div class="form-check">
            <%= f.radio_button :icon, 'bi bi-award-fill', class: "form-check-input" %>
            <label class="form-check-label">
              <i class="bi bi-award-fill" style="font-size: 3em;"></i>
            </label>
          </div>
          <div class="form-check">
            <%= f.radio_button :icon, 'bi bi-bank', class: "form-check-input" %>
            <label class="form-check-label">
              <i class="bi bi-bank" style="font-size: 3em;"></i>
            </label>
          </div>
          <div class="form-check">
            <%= f.radio_button :icon, 'bi bi-calendar-check', class: "form-check-input" %>
            <label class="form-check-label">
              <i class="bi bi-calendar-check" style="font-size: 3em;"></i>
            </label>
          </div>
          <div class="form-check">
            <%= f.radio_button :icon, 'bi bi-book-half', class: "form-check-input" %>
            <label class="form-check-label">
              <i class="bi bi-book-half" style="font-size: 3em;"></i>
            </label>
          </div>
          <div class="form-check">
            <%= f.radio_button :icon, 'bi bi-camera', class: "form-check-input" %>
            <label class="form-check-label">
              <i class="bi bi-camera" style="font-size: 3em;"></i>
            </label>
          </div>
        </div>

        <div class="d-flex justify-content-evenly my-3">
          <div class="form-check">
            <%= f.radio_button :icon, 'bi bi-cart-check', class: "form-check-input" %>
            <label class="form-check-label">
              <i class="bi bi-cart-check" style="font-size: 3em;"></i>
            </label>
          </div>
          <div class="form-check">
            <%= f.radio_button :icon, 'bi bi-cloud-moon', class: "form-check-input" %>
            <label class="form-check-label">
              <i class="bi bi-cloud-moon" style="font-size: 3em;"></i>
            </label>
          </div>
          <div class="form-check">
            <%= f.radio_button :icon, 'bi bi-coin', class: "form-check-input" %>
            <label class="form-check-label">
              <i class="bi bi-coin" style="font-size: 3em;"></i>
            </label>
          </div>
          <div class="form-check">
            <%= f.radio_button :icon, 'bi bi-controller', class: "form-check-input" %>
            <label class="form-check-label">
              <i class="bi bi-controller" style="font-size: 3em;"></i>
            </label>
          </div>
          <div class="form-check">
            <%= f.radio_button :icon, 'bi bi-file-earmark-person-fill', class: "form-check-input" %>
            <label class="form-check-label">
              <i class="bi bi-file-earmark-person-fill" style="font-size: 3em;"></i>
            </label>
          </div>
        </div>
      </div>
      


      <div class="d-flex flex-column links_foot_cat align-items-center w-100 p-3 border">
        <%= f.submit "Save", class: "p-2 lead text-decoration-none text-light text-center border"%>
      </div>
      
    <% end %>