<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>APC Youth Wing</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <%= stylesheet_link_tag "css_dashboard/lib/owlcarousel/assets/owl.carousel.min.css" %>
    <%= stylesheet_link_tag "css_dashboard/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" %>

    <!-- Customized Bootstrap Stylesheet -->
    <%= stylesheet_link_tag "css_dashboard/bootstrap.min.css" %>

    <!-- Template Stylesheet -->
    <%= stylesheet_link_tag "css_dashboard/style.css" %>
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/home" class="navbar-brand mx-4 mb-3">
                    <%= image_tag("APC_Youth_logo_02.png", alt: "Logo", class: "w-100")  %>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <%= image_tag("circle-user-solid.svg", alt: "Logo", class: "w-100", style: "width: 40px; height: 40px;")  %>
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0"><%= current_user.name %></h6>
                        <%  if current_user.role == 'admin' %>
                        <span>Admin</span>
                        <% end %>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/dashboard" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/groups" class="nav-link"><i class="fa fa-laptop me-2"></i>Details</a>
                    <a href="#" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Documents</a>
                    <a href="/members" class="nav-item nav-link active"><i class="fa fa-keyboard me-2"></i>Members</a>
                    <a href="/review" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Review</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->



        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="/dashboard" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <%= image_tag("circle-user-solid.svg", alt: "Logo", class: "rounded-circle me-lg-2", style: "width: 40px; height: 40px;")  %>
                            <span class="d-none d-lg-inline-flex"><%= current_user.name%></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <% if user_signed_in? %>
                              <%= link_to "Sign out", destroy_user_session_path, class: 'dropdown-item', 'data-turbo-method': :delete %>
                            <% else %>
                              <a href="users/sign_in" class="dropdown-item">Sign in</a>
                            <% end %> 
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            

            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Create a new group</h6>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/members">Members</a></li>
                            <li class="breadcrumb-item active" aria-current="page">New Member</li>
                          </ol>
                        </nav>
                    </div>
                    <div class="table-responsie">
                        <%= form_with model: @member_new, url: members_path, method: :post, local: true, scope: :members, html: {class: "text-start needs-validation", novalidate: true} do |f|  %>

                              <div class = "has-validation mb-3">
                                <%= f.label :Full_Name, for: "name", class: "form-label"%>
                                <%= f.text_field :full_name, autofocus: true, autocomplete: "full name", class: "form-control", required: true, id: "name"%>
                                <div class="invalid-feedback">
                                  Please Enter Full Name.
                                </div>
                              </div>

                              <div class=" has-validation mb-3">
                                <%= f.label :Member_Role, for: "role", class: "form-label" %>
                                <%= f.select :member_role, ['Chairman', 'Vice Chairman', 'General Secretary', 'Legal Advisor', 'Other'], { class: "form-control", id: "role" }%>
                              </div> 

                              <div class=" has-validation mb-3">
                                <%= f.label :Email, for: "validationEmail_news", class: "form-label" %>
                                <%= f.email_field :email, autofocus: true, autocomplete: "email",id: "validationEmail_news", class: "form-control py-2", 
                                required: true, placeholder: "Email"
                                %>
                                <div class="invalid-feedback">
                                    Please Enter an Email Address.
                                </div>
                              </div> 

                              <div class = " has-validation mb-3">
                                <%= f.label :Phone_Number, for: "phone", class: "form-label" %>
                                <%= f.text_field :phone_number, class: "form-control", required: true, id: "phone"%>
                                <div class="invalid-feedback">
                                  Please Enter Phone Number.
                                </div>
                              </div>

                            <div class="d-flex flex-wrap justify-content-between my-3">
                              <p>Active Region</p>
                              <div class="form-check">
                                <%= f.radio_button :active_region, 'North-West', class: "form-check-input" %>
                                <label class="form-check-label">
                                  North-West
                                </label>
                              </div>
                              <div class="form-check">
                                <%= f.radio_button :active_region, 'North-East', class: "form-check-input" %>
                                <label class="form-check-label">
                                  North-East
                                </label>
                              </div>
                              <div class="form-check">
                                <%= f.radio_button :active_region, 'North-Central', class: "form-check-input" %>
                                <label class="form-check-label">
                                  North-Central
                                </label>
                              </div>
                              <div class="form-check">
                                <%= f.radio_button :active_region, 'South-West', class: "form-check-input" %>
                                <label class="form-check-label">
                                  South-West
                                </label>
                              </div>
                              <div class="form-check">
                                <%= f.radio_button :active_region, 'South-East', class: "form-check-input" %>
                                <label class="form-check-label">
                                  South-East
                                </label>
                              </div>
                              <div class="form-check">
                                <%= f.radio_button :active_region, 'South-South', class: "form-check-input" %>
                                <label class="form-check-label">
                                  South-South
                                </label>
                              </div>
                            </div>
                            

                          <div class="d-flex flex-column justify-content-center align-items-start w-100">
                            <%= f.submit "Save", class: "px-3 py-2 lead text-decoration-none btn text-center btn-outline-danger btn-lg"%>
                          </div>
                          
                        <% end %>
                    </div>
                </div>
              </div> 
           


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            <p>Copyright © <strong>APC Youth Wing 2022</strong> All Rights Reserved. Designed by <a target="_blank" href="http://thermolinks.com/">Thermolinks</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <%= javascript_include_tag "lib/chart/chart.min.js" %>
    <%= javascript_include_tag "lib/easing/easing.min.js" %>
    <%= javascript_include_tag "lib/waypoints/waypoints.min.js" %>
    <%= javascript_include_tag "lib/owlcarousel/owl.carousel.min.js" %>
    <%= javascript_include_tag "lib/tempusdominus/js/moment.min.js" %>
    <%= javascript_include_tag "lib/tempusdominus/js/moment-timezone.min.js" %>
    <%= javascript_include_tag "lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js" %>
    <!-- Template Javascript -->
    <%= javascript_include_tag "js/main.js" %>
</body>

</html>
